.loginpage{
    color: green;
    background-image: url('/loginpage.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    
    text-align: center;
  }
  .form-container {
    max-width: 21rem;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 4px;
  }

  form,
  label {
    display: flex;
    flex-flow: column;
  }

  label > span {
    font-weight: 600;
  }

  input {
    padding: 8px;
    margin: 0.3rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
  }

  .submit > button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .submit > button:hover {
    border-color: #888;
  }

  .submit > a {
    text-decoration: none;
  }

  .dont{
    color: green;
  }

  .errormessage{
    color: red;
  }

  .greensucces{
    color: rgba(0, 26, 255, 0.733) ;
    font-weight: bold; 
  }











  /* .loginpage{
    background-image: url('/background.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttoninlogin{
    color: white;
    background-color: rgb(6, 72, 6);
    padding-left: 3px;
}


.formdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toptext{
    color: rgb(6, 72, 6);
    font-weight: bold;
} */



/* .formrootdiv{
    background-color: transparent;
    border: 2px solid black;
    
} */
